.Deck {
    transition: transform 0.3s ease;
  }
  .Deck-selected {
    transform: scale(1);
  }
  .Deck-unselected {
    transform: scale(0.3);
  }
  
  .swiper-fixed-width-300 {
    width: 300px;
  }